<div class="app-comments-panel">
    <div class="panel-overlay" (click)="cancelPanel()"></div>
    <div class="panel-container"> 
        <div class="pos-rel"> 
            <div class="scrollable-content">
                <div class="header">
                    <div class="title-wrapper"> 
                        <span class="title">Comments</span>
                        <span class="comment-count-badge">{{comments.length}}</span>
                    </div>
                    
                    <span class="close-button" (click)="cancelPanel()">✖ CLOSE</span>
                </div>
        
                <hr class="my-30"/>
        
                <div class="content"> 
                    <p class="sub-title">Common Phrase</p>
                    <span class="phrase">
                        You are a really <span class="text-orange">not very nice</span> person
                    </span>
                    <div class="comments-wrapper" *ngFor="let comment of comments"> 
                        <app-comment [isSmall]="true" [comment]="comment" [queueId]="queueId" [contentId]="contentId"></app-comment>
                    </div>
                </div>
                <div class="add-comment-wrapper">
                    <p class="leave-comment">Leave a comment</p>
                    <textarea placeholder="Type your Comment" [(ngModel)]="commentText"></textarea>
                </div>
            </div>
            <div class="buttons-wrapper"> 
                <div class="left"> 
                    <button class="bg-green black mr-10" (click)="submit($event)">Submit</button>
                    <button class="bg-black" (click)="cancelPanel()">Cancel</button>
                </div>
                <div class="right"> 
                    <a>Clear</a>
                </div>
            </div>
        </div>
    </div>
</div>
