<div class="create-rule-home-header">
  <div class="left-section"> 
      <h3 class="title">Create Rule</h3>
      <main-breadcrumbs></main-breadcrumbs>
  </div>
  <div class="right-section"> 
      <!-- <button type="button" class="filter-button subtle hover-light mr-20">
        <span class="btn-label">Filters</span>
        <span class="btn-icon btn-icon-left">
          <i class="material-icons">filter_list</i>  
        </span>
      </button>
      <button class="button active" [routerLink]="['/filter-quality/language-tasks/create']">
        <span class="btn-label">New Task</span>
      </button> -->
  </div>
</div>