<div class="relative w-full">
  <div
    class="flex w-full items-center text-on-background-muted hover:text-on-background focus-within:text-on-background"
  >
    <label for="main-header-search" aria-hidden="true">
      <i class="text-xl mr-2 mdi mdi-magnify"></i>
    </label>
    <div class="relative flex-grow">
      <input
        id="main-header-search"
        class="form-input w-full bg-transparent border-transparent"
        type="search"
        aria-label="Search for keywords, phrases, etc."
        placeholder="Search for keywords, phrases, etc."
      />
    </div>
  </div>
</div>
