<div class="breadcrumb">
  <div class="breadcrumb__icon">
    <a routerLink="/">
      <img src="/assets/community-sift-logo-icon.svg" alt="home" />
    </a>
  </div>
  <!-- <i class="fas fa-chevron-right home-arrow"></i> -->
  <i class="material-icons next home-arrow">navigate_next</i>
  <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
  <!-- <i class="far fa-copy" aria-hidden="true"></i> -->
  <i class="material-icons copy">content_copy</i>
  <ng-template #iconTemplate>
    <!-- <i class="fas fa-chevron-right"></i> -->
    <i class="material-icons next">navigate_next</i>
  </ng-template>
</div>
